    {% extends "base.html" %}
    <!-- about me -->
    {% block contant %}
    <section id="about-me" class="about">
        <div class="container flex items-centeru about-inner-wrap">
            <div class="left flex-1 justify-center">
                <img class="about-me-img" src="/static/image/myy.png" alt="">
            </div>
            <div class="flex-1 im">
                <h1>About <span>Me</span></h1>
                <h3>Hello i'm Ankit Vishwakarma</h3>       
                <p>An Open-Source Enthusiast who is a Full-Time learner and a passionate Web designer. I am an graduate of B.Tech with specialization in Web designer</p> 
                <a href="/static/resume/resume.pdf"><button class="btn btn-secondary">View Resume</button></a>
            </div>
        </div>
    </section>
    {% endblock %}