 <!-- footer -->
 <footer>
    <img class="footer-logo" src="/static/image/my-logo.png" alt="#">
    <div class="footer-socials">
        <a href="https://twitter.com/ankitvish143"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/ankit-vishwakarma-33a4b0194/"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
        <a href=""><i class="fa-brands fa-skype"></i></a>
        <a href="https://www.instagram.com/theankitvish/"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="copyright">
      Copyright © 2022 - Designed by Ankit Vishwakarma
    </div>
</footer>   
</div>

<!-- </script> -->

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/static/js/app.js"></script>
</body>
</html>  